/*==============================
content
==============================*/
.content {
  padding-bottom: 170px;
  &__heading {
    padding-top: 60px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin: 0 auto;
    text-align: center;
    color: $text-color;
    font-family: 'titles', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__carousel-item {
    position: relative;
    width: 260px;
    height: 410px;
    box-shadow: 0 3px 10px 0 rgba(2, 2, 2, 0.2);
    cursor: pointer;

    @include md() {
      .content__carousel-link {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(#000000, 0.5);
        transform-origin: bottom;
        transform: scale3d(1, 0.22, 1);
        @include trn-long;
        z-index: 1;
      }
    }
    @include lg() {
      &:hover {
        .content__carousel-link {
          transform: scale3d(1, 1, 1);
          @include trn-long;
        }
      }
    }
  }

  .center .content__carousel-item {
    height: 450px;
  }

  &__carousel-imgbox {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      left: 50%;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      transform: translateX(-50%);
      pointer-events: none;
    }
  }

  &__carousel-text {
    position: absolute;
    bottom: 32px;
    left: 50%;
    font-family: 'titles', Arial, sans-serif;
    color: $base-color;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    transform: translateX(-50%);
    z-index: 2;
  }
  &__prepods-btn {
    @include link-reset;
    height: 51px;
    margin: 0 auto;
    padding-left: 71px;
    padding-right: 71px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 25.5px;
    border: solid 2px #fe8057;
    font-family: 'titles', Arial, sans-serif;
    color: $accent;
    font-size: 18px;
    font-weight: 600;
  }
  @include md() {
    padding-bottom: 130px;
    padding-left: 36px;
    padding-right: 36px;
    &__heading {
      padding-top: 111px;
      padding-bottom: 75px;
    }
    &__title {
      font-size: 24px;
    }
    &__prepods-carousel {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__carousel-item {
      width: 32.2%;
      height: 450px;
    }
    &__carousel-text {
      font-size: 20px;
    }
    &__prepods-btn {
      margin-bottom: 100px;
      display: inline-flex;
      @include trn;
    }
  }
  @include lg() {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 198px;
    &__heading {
      padding-top: 120px;
      padding-bottom: 90px;
    }
    &__title {
      font-size: 30px;
    }
    &__prepods-btn {
      height: 60px;
      margin-bottom: 130px;
      padding-left: 119px;
      padding-right: 119px;
      font-size: 20px;
      border-radius: 30px;
      &:hover {
        background-color: $accent;
        color: $contrast-color;
        @include trn;
      }
    }
    &__carousel-text {
      bottom: 18px;
      font-size: 24px;
    }
  }
}
