/*==============================
header
==============================*/
.header {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 31px;
  padding-right: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  z-index: 3;
  @include md() {
    padding-left: 36px;
    padding-right: 36px;
  }
  @include lg() {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 17px;
  }
  &__info-box {
    width: calc(50% + 44px);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    @include sm() {
      width: calc(50% + 54px);
    }
    @include md() {
      width: auto;
      justify-content: flex-start;
    }
  }
  &__info {
    order: 1;
    @include md() {
      order: 2;
    }
  }
  &__logo {
    z-index: 1;
    order: 2;
    @include link-reset;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    @include trn;

    img {
      width: 88px;
      height: 88px;
      @include trn;
      @include sm() {
        width: 108px;
        height: 108px;
      }
      @include lg() {
        width: 111px;
        height: 111px;
      }
    }
    @include md() {
      order: 1;
      margin-right: 34px;
      transform: translateX(0);
    }
    @include lg() {
      margin-right: 8px;
      padding-right: 34px;
    }
  }
  &__info-link {
    @include link-reset;
    color: $base-color;
    font-family: 'titles', Arial, sans-serif;
    font-size: 14px;
    @include md() {
      margin-right: 23px;
    }
    @include lg() {
      font-size: 16px;
    }
    &--phone {
      display: none;
      padding-left: 20px;
      @include bg-set;
      background-image: url('../img/icons/phone.png');
      background-position: left;
      background-size: 14px;
      @include trn;
      @include md() {
        margin-right: 35px;
        display: inline-block;
      }
      @include lg() {
        &:hover {
          color: $accent;
          @include trn;
        }
      }
    }
  }
  &__activity {
    width: 100%;
    padding-top: 30px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before {
      @include psel;
      width: 95%;
      height: 1px;
      top: 0;
      left: 50%;
      background-color: $base-color;
      transform: translateX(-50%);
      opacity: 0.2;
    }
    @include md() {
      width: auto;
      padding-top: 0;
      flex-direction: row;
      justify-content: flex-start;
      &::before {
        display: none;
      }
    }
  }
  &__prepod-btn {
    order: 2;
    width: 200px;
    @include md() {
      order: 1;
      width: 150px;
      margin-right: 80px;
    }
    @include lg() {
      order: 1;
      width: 200px;
      margin-right: 40px;
    }
  }
}
