/*==============================
intro
==============================*/
.intro {
  position: relative;
  height: 100vh;
  padding-bottom: 90px;
  @include bg-set;
  background-image: url("../img/bg-main.jpg");
  background-position: top right;
  background-size: auto 150%;
  @include xs() {
    background-image: url("../img/bg-main.jpg");
    background-size: cover;
    background-position: top;
  }

  &__text-box {
    margin-top: 53px;
    display: flex;
    justify-content: center;
    @include md() {
      margin-top: 117px;
      justify-content: flex-end;
    }
    @include lg() {
      margin-top: 100px;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include xs() {
      width: 50%;
    }
    @include md() {
      width: 55%;
    }
    @include lg() {
      width: 49%;
      align-self: flex-end;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'titles', Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: $base-color;
    text-align: center;

    b {
      color: $accent;
    }
    @include md() {
      text-align: left;
      font-size: 36px;
      letter-spacing: 0.72px;
    }
    @include lg() {
      font-size: 42px;
      font-weight: 900;
      line-height: 1.14;
      letter-spacing: 1.26px;
    }
  }

  &__text-activity {
    padding-top: 45px;
    @include md() {
      width: 78.5%;
      padding-right: 5%;
      align-self: flex-end;
    }
    @include lg() {
      width: 66%;
      padding-top: 45px;
      padding-right: 10%;
    }
  }

  &__text {
    font-family: 'base', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 66px;
    color: $base-color;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    @include md() {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 1.29;
      text-align: left;
    }
    @include lg() {
      position: relative;
      margin-bottom: 50px;
      font-size: 16px;
      line-height: 1.25;

      &::before {
        @include psel;
        width: 179px;
        height: 65px;
        left: -18px;
        top: -14px;
        background-image: url("../img/stars.png");
        transform: translateX(-100%);
      }
    }
  }

  &__scroll {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);

    img {
      width: 24px;
      height: 39px;
      @include lg() {
        margin-bottom: 21px;
      }
    }

    span {
      display: none;
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.48px;
      color: $base-color;
      text-transform: uppercase;
      @include lg() {
        display: block;
      }
    }
    @include md() {
      display: flex;
    }
  }

  &__activity-btn {
    margin: 0 auto;
    @include md() {
      margin: 0;
      width: 305px;
    }
  }
}
