/*==============================
navigation
==============================*/
.navigation {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  flex-grow: 2;
  background-color: $contrast-color;
  @include trn;

  @include md() {
    width: auto;
    height: auto;
    overflow-y: visible;
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: inherit;
    visibility: visible;
    opacity: 1;
    pointer-events: inherit;
    background-color: transparent;
  }
  &--opened-js {
    visibility: visible;
    opacity: 1;
    pointer-events: inherit;
    @include trn
    @include md() {
      .user-box {
        visibility: visible;
        opacity: 1;
        pointer-events: inherit;
        transform: translateY(0);
        @include trn;
      }
    }
  }
  @include lg() {
    padding-right: 0;
    justify-content: space-between;
  }

  &__list {
    @include ul-reset;
    padding: 50px 40px;
    padding-top: 135px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    @include sm() {
      padding-top: 154px;
    }
    @include md() {
      padding: 0;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      box-shadow: none;
      border-radius: 0;
      overflow-y: visible;
      transform: translateY(0);
    }
  }
  &__link {
    @include link-reset;
    position: relative;
    display: inline-block;
    margin-bottom: 26px;
    font-family: 'titles', Arial, sans-serif;
    color: $base-color;
    font-size: 16px;
    white-space: nowrap;
    @include md() {
      margin-bottom: 0;
      margin-right: 30px;
      font-size: 14px;
      &::before {
        @include psel;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: $accent;
        transform: scale3d(0, 0, 0);
        @include trn;
      }
    }
    @include lg() {
      margin-right: 33px;
      font-size: 16px;
      &:hover {
        &::before {
          transform: scale3d(1, 1, 1);
          @include trn;
        }
      }
    }
    &--active {
      &::before {
        transform: scale3d(1, 1, 1);
        @include trn;
      }
    }
  }
}
