/*==============================
user-box
==============================*/

.user-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    @include link-reset;
    position: relative;
    display: inline-block;
    margin-bottom: 26px;
    font-family: 'titles', Arial, sans-serif;
    color: $base-color;
    font-size: 16px;
    @include trn;
    &:last-child {
      margin-bottom: 21px;
    }
    @include md() {
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      &::before {
        @include psel;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: $accent;
        transform: scale3d(0, 0, 0);
        @include trn;
      }
      &:last-child {
        margin-bottom: 32px;
      }
    }
    @include lg() {
      margin-bottom: 0;
      margin-right: 33px;
      color: $base-color;
      font-size: 16px;
      font-weight: normal;
      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
      &:hover {
        &::before {
          transform: scale3d(1, 1, 1);
          @include trn;
        }
      }
    }
  }
  @include md() {
    order: 2;
    width: 165px;
    padding: 30px;
    padding-bottom: 0;
    position: absolute;
    top: 77px;
    right: 0;
    visibility: hidden;
    flex-grow: 0;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    background-color: $base-color;
    transform: translateY(-20px);
    box-shadow: 0px 3px 10px 0 rgba(2, 2, 2, 0.5);
    @include trn;
  }
  @include lg() {
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    padding-top: 0;
    visibility: visible;
    opacity: 1;
    position: relative;
    top: auto;
    right: auto;
    pointer-events: inherit;
    background-color: transparent;
    transform: translateY(0);
    box-shadow: none;
  }
}
