/*==============================
base
==============================*/
* {
  box-sizing: border-box !important;
}

.cp {
  cursor: pointer;
}

.stop-scroll {
  overflow: hidden;
}

.pen {
  pointer-events: none;
}

a,
button {
  cursor: pointer !important;
}

body,
html {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: 'base', Arial, sans-serif;
  color: $text-color;
}


/*==============================
box
==============================*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.box {
  max-width: 1280px;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  @include md() {
    margin-left: 36px;
    margin-right: 36px;
  }
  @include lg() {
    margin: 0 auto;
  }
}
/*==============================
titles
==============================*/
/*==============================
buttons
==============================*/
.btn {
  @include link-reset;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent;
  color: $base-color;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  font-family: 'titles', Arial, sans-serif;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
  @include trn;
  @include lg() {
    &:hover {
      background-color: transparent;
      border: 2px solid $accent;
      @include trn;
    }
  }

  &--invert {
    background-color: transparent;
    border: 2px solid $accent;
    @include trn;
    @include lg() {
      &:hover {
        background-color: $accent;
        border: 2px solid transparent;
        @include trn;
      }
    }
  }
}
