@mixin xs {
    @media (min-width: $phone) {
        @content;
    }
}

@mixin sm {
    @media (min-width: $smartphone) {
        @content;
    }
}

@mixin md {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin lg {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin xl {
    @media (min-width: $desktopwide) {
        @content;
    }
}
