@function get-vw($target) {
    $vw-context: (320*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}
@mixin calc($prop, $value) {
    #{$prop}: get-vw($value);
    @include sm() {
        #{$prop}: $value
    }
}

@mixin fonts($font-size: 16px, $font-weight: normal, $line-height: normal, $letter-spacing: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin bg-set {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin psel {
  position: absolute;
  content: "";
  box-sizing: border-box;
}

@mixin ul-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin input-reset() {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}
@mixin link-reset {
  text-decoration: none;
  color: inherit;
}
@mixin select-reset {
  &::-ms-expand {
    /* Hide arrow in IE 10+ */
    display: none;
  }
}

@mixin trn {
  transition: 0.3s ease-in-out;
}
@mixin trn-fast {
  transition: 0.1s ease-in-out;
}
@mixin trn-long {
  transition: 0.7s ease-in-out;
}
