$base-color: #ffffff;
$text-color: #4e93e1;
$contrast-color: #25262a;

$accent: #fe8057;

// -- Media variables
$phone: 576px;
$smartphone: 768px;
$tablet: 1020px;
$desktop: 1420px;
$desktopwide: 1600px;
$desktopxxl: 1900px;

// -- Fonts
$base: 'base';
$titles: 'titles';
