/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*==============================
fonts
==============================*/
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on April 30, 2020 */
@font-face {
  font-family: 'titles';
  src: url("../fonts/montserrat-extrabold.eot");
  src: url("../fonts/montserrat-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extrabold.woff") format("woff"), url("../fonts/montserrat-extrabold.ttf") format("truetype"), url("../fonts/montserrat-extrabold.svg#montserratextrabold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'titles';
  src: url("../fonts/montserrat-medium.eot");
  src: url("../fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("truetype"), url("../fonts/montserrat-medium.svg#montserratmedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'titles';
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'titles';
  src: url("../fonts/montserrat-semibold.eot");
  src: url("../fonts/montserrat-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.ttf") format("truetype"), url("../fonts/montserrat-semibold.svg#montserratsemibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'base';
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../opensans-regular.eot?#iefix") format("embedded-opentype"), url("../opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==============================
base
==============================*/
* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }

.cp {
  cursor: pointer; }

.stop-scroll {
  overflow: hidden; }

.pen {
  pointer-events: none; }

a,
button {
  cursor: pointer !important; }

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  position: relative;
  font-family: 'base', Arial, sans-serif;
  color: #4e93e1; }

/*==============================
box
==============================*/
.container {
  max-width: 1440px;
  margin: 0 auto; }

.box {
  max-width: 1280px;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px; }
  @media (min-width: 1020px) {
    .box {
      margin-left: 36px;
      margin-right: 36px; } }
  @media (min-width: 1420px) {
    .box {
      margin: 0 auto; } }

/*==============================
titles
==============================*/
/*==============================
buttons
==============================*/
.btn {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fe8057;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  font-family: 'titles', Arial, sans-serif;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  @media (min-width: 1420px) {
    .btn:hover {
      background-color: transparent;
      border: 2px solid #fe8057;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; } }
  .btn--invert {
    background-color: transparent;
    border: 2px solid #fe8057;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    @media (min-width: 1420px) {
      .btn--invert:hover {
        background-color: #fe8057;
        border: 2px solid transparent;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; } }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none; }

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

#prepodsOwl .owl-carousel .owl-item {
  position: relative;
  display: inherit;
  width: 261px !important;
  height: 410px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 10px 0 rgba(2, 2, 2, 0.2);
          box-shadow: 0px 3px 10px 0 rgba(2, 2, 2, 0.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  #prepodsOwl .owl-carousel .owl-item img {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  #prepodsOwl .owl-carousel .owl-item .content__carousel-link {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0.24, 1);
            transform: scale3d(1, 0.24, 1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 1; }
  #prepodsOwl .owl-carousel .owl-item .content__carousel-item {
    position: relative; }

#prepodsOwl .owl-item.center {
  height: 450px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

#prepodsOwl .owl-carousel .owl-stage-outer {
  padding-top: 20px;
  padding-bottom: 30px;
  height: 450px; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/*==============================
effects
==============================*/
.scrolling {
  -webkit-animation: scrolling 1s infinite alternate;
          animation: scrolling 1s infinite alternate; }

@-webkit-keyframes scrolling {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@keyframes scrolling {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

/*==============================
menu-btn
==============================*/
.menu-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 51; }
  @media (min-width: 1020px) {
    .menu-btn {
      position: absolute;
      right: 0;
      top: 55%;
      -webkit-transform: translateY(-50%) translateX(-100%);
              transform: translateY(-50%) translateX(-100%); } }
  @media (min-width: 1420px) {
    .menu-btn {
      display: none; } }
  .menu-btn__box {
    width: 39px;
    height: 26px;
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer; }
  .menu-btn__line {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    .menu-btn__line--top {
      top: 0; }
    .menu-btn__line--bottom {
      top: 22px; }
    .menu-btn__line--middle {
      width: 100%;
      top: 11px;
      left: auto;
      right: 0; }
  .menu-btn--open-js .menu-btn__line--top {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .menu-btn--open-js .menu-btn__line--bottom {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .menu-btn--open-js .menu-btn__line--middle {
    opacity: 0;
    right: -60px; }

/*==============================
intro
==============================*/
.intro {
  position: relative;
  height: 100vh;
  padding-bottom: 90px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-main.jpg");
  background-position: top right;
  background-size: auto 150%; }
  @media (min-width: 576px) {
    .intro {
      background-image: url("../img/bg-main.jpg");
      background-size: cover;
      background-position: top; } }
  .intro__text-box {
    margin-top: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 1020px) {
      .intro__text-box {
        margin-top: 117px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    @media (min-width: 1420px) {
      .intro__text-box {
        margin-top: 100px; } }
  .intro__text-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 576px) {
      .intro__text-content {
        width: 50%; } }
    @media (min-width: 1020px) {
      .intro__text-content {
        width: 55%; } }
    @media (min-width: 1420px) {
      .intro__text-content {
        width: 49%;
        -ms-flex-item-align: end;
            align-self: flex-end; } }
  .intro__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'titles', Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-align: center; }
    .intro__title b {
      color: #fe8057; }
    @media (min-width: 1020px) {
      .intro__title {
        text-align: left;
        font-size: 36px;
        letter-spacing: 0.72px; } }
    @media (min-width: 1420px) {
      .intro__title {
        font-size: 42px;
        font-weight: 900;
        line-height: 1.14;
        letter-spacing: 1.26px; } }
  .intro__text-activity {
    padding-top: 45px; }
    @media (min-width: 1020px) {
      .intro__text-activity {
        width: 78.5%;
        padding-right: 5%;
        -ms-flex-item-align: end;
            align-self: flex-end; } }
    @media (min-width: 1420px) {
      .intro__text-activity {
        width: 66%;
        padding-top: 45px;
        padding-right: 10%; } }
  .intro__text {
    font-family: 'base', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 66px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.33;
    text-align: center; }
    @media (min-width: 1020px) {
      .intro__text {
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 1.29;
        text-align: left; } }
    @media (min-width: 1420px) {
      .intro__text {
        position: relative;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 1.25; }
        .intro__text::before {
          position: absolute;
          content: "";
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 179px;
          height: 65px;
          left: -18px;
          top: -14px;
          background-image: url("../img/stars.png");
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%); } }
  .intro__scroll {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%;
    bottom: 50px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .intro__scroll img {
      width: 24px;
      height: 39px; }
      @media (min-width: 1420px) {
        .intro__scroll img {
          margin-bottom: 21px; } }
    .intro__scroll span {
      display: none;
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.48px;
      color: #ffffff;
      text-transform: uppercase; }
      @media (min-width: 1420px) {
        .intro__scroll span {
          display: block; } }
    @media (min-width: 1020px) {
      .intro__scroll {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .intro__activity-btn {
    margin: 0 auto; }
    @media (min-width: 1020px) {
      .intro__activity-btn {
        margin: 0;
        width: 305px; } }

/*==============================
header
==============================*/
.header {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 31px;
  padding-right: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  z-index: 3; }
  @media (min-width: 1020px) {
    .header {
      padding-left: 36px;
      padding-right: 36px; } }
  @media (min-width: 1420px) {
    .header {
      padding-left: 0;
      padding-right: 0;
      padding-top: 10px;
      padding-bottom: 17px; } }
  .header__info-box {
    width: calc(50% + 44px);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    @media (min-width: 768px) {
      .header__info-box {
        width: calc(50% + 54px); } }
    @media (min-width: 1020px) {
      .header__info-box {
        width: auto;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  .header__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media (min-width: 1020px) {
      .header__info {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
  .header__logo {
    z-index: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .header__logo img {
      width: 88px;
      height: 88px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      @media (min-width: 768px) {
        .header__logo img {
          width: 108px;
          height: 108px; } }
      @media (min-width: 1420px) {
        .header__logo img {
          width: 111px;
          height: 111px; } }
    @media (min-width: 1020px) {
      .header__logo {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-right: 34px;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }
    @media (min-width: 1420px) {
      .header__logo {
        margin-right: 8px;
        padding-right: 34px; } }
  .header__info-link {
    text-decoration: none;
    color: inherit;
    color: #ffffff;
    font-family: 'titles', Arial, sans-serif;
    font-size: 14px; }
    @media (min-width: 1020px) {
      .header__info-link {
        margin-right: 23px; } }
    @media (min-width: 1420px) {
      .header__info-link {
        font-size: 16px; } }
    .header__info-link--phone {
      display: none;
      padding-left: 20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/icons/phone.png");
      background-position: left;
      background-size: 14px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      @media (min-width: 1020px) {
        .header__info-link--phone {
          margin-right: 35px;
          display: inline-block; } }
      @media (min-width: 1420px) {
        .header__info-link--phone:hover {
          color: #fe8057;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; } }
  .header__activity {
    width: 100%;
    padding-top: 30px;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__activity::before {
      position: absolute;
      content: "";
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 95%;
      height: 1px;
      top: 0;
      left: 50%;
      background-color: #ffffff;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      opacity: 0.2; }
    @media (min-width: 1020px) {
      .header__activity {
        width: auto;
        padding-top: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .header__activity::before {
          display: none; } }
  .header__prepod-btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 200px; }
    @media (min-width: 1020px) {
      .header__prepod-btn {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 150px;
        margin-right: 80px; } }
    @media (min-width: 1420px) {
      .header__prepod-btn {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 200px;
        margin-right: 40px; } }

/*==============================
navigation
==============================*/
.navigation {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background-color: #25262a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  @media (min-width: 1020px) {
    .navigation {
      width: auto;
      height: auto;
      overflow-y: visible;
      padding-right: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: inherit;
      visibility: visible;
      opacity: 1;
      pointer-events: inherit;
      background-color: transparent; } }
  .navigation--opened-js {
    visibility: visible;
    opacity: 1;
    pointer-events: inherit;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    @media (min-width: 1020px) {
      .navigation--opened-js .user-box {
        visibility: visible;
        opacity: 1;
        pointer-events: inherit;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; } }
  @media (min-width: 1420px) {
    .navigation {
      padding-right: 0;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 50px 40px;
    padding-top: 135px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: auto; }
    @media (min-width: 768px) {
      .navigation__list {
        padding-top: 154px; } }
    @media (min-width: 1020px) {
      .navigation__list {
        padding: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-shadow: none;
                box-shadow: none;
        border-radius: 0;
        overflow-y: visible;
        -webkit-transform: translateY(0);
                transform: translateY(0); } }
  .navigation__link {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
    margin-bottom: 26px;
    font-family: 'titles', Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    white-space: nowrap; }
    @media (min-width: 1020px) {
      .navigation__link {
        margin-bottom: 0;
        margin-right: 30px;
        font-size: 14px; }
        .navigation__link::before {
          position: absolute;
          content: "";
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%;
          height: 2px;
          left: 0;
          bottom: -2px;
          background-color: #fe8057;
          -webkit-transform: scale3d(0, 0, 0);
                  transform: scale3d(0, 0, 0);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; } }
    @media (min-width: 1420px) {
      .navigation__link {
        margin-right: 33px;
        font-size: 16px; }
        .navigation__link:hover::before {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; } }
    .navigation__link--active::before {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }

/*==============================
user-box
==============================*/
.user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .user-box a {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
    margin-bottom: 26px;
    font-family: 'titles', Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .user-box a:last-child {
      margin-bottom: 21px; }
    @media (min-width: 1020px) {
      .user-box a {
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #000; }
        .user-box a::before {
          position: absolute;
          content: "";
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%;
          height: 2px;
          left: 0;
          bottom: -2px;
          background-color: #fe8057;
          -webkit-transform: scale3d(0, 0, 0);
                  transform: scale3d(0, 0, 0);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
        .user-box a:last-child {
          margin-bottom: 32px; } }
    @media (min-width: 1420px) {
      .user-box a {
        margin-bottom: 0;
        margin-right: 33px;
        color: #ffffff;
        font-size: 16px;
        font-weight: normal; }
        .user-box a:last-child {
          margin-bottom: 0;
          margin-right: 0; }
        .user-box a:hover::before {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; } }
  @media (min-width: 1020px) {
    .user-box {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 165px;
      padding: 30px;
      padding-bottom: 0;
      position: absolute;
      top: 77px;
      right: 0;
      visibility: hidden;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      opacity: 0;
      pointer-events: none;
      background-color: #ffffff;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      -webkit-box-shadow: 0px 3px 10px 0 rgba(2, 2, 2, 0.5);
              box-shadow: 0px 3px 10px 0 rgba(2, 2, 2, 0.5);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; } }
  @media (min-width: 1420px) {
    .user-box {
      padding: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: auto;
      padding-top: 0;
      visibility: visible;
      opacity: 1;
      position: relative;
      top: auto;
      right: auto;
      pointer-events: inherit;
      background-color: transparent;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-box-shadow: none;
              box-shadow: none; } }

/*==============================
content
==============================*/
.content {
  padding-bottom: 170px; }
  .content__heading {
    padding-top: 60px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .content__title {
    margin: 0 auto;
    text-align: center;
    color: #4e93e1;
    font-family: 'titles', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase; }
  .content__carousel-item {
    position: relative;
    width: 260px;
    height: 410px;
    -webkit-box-shadow: 0 3px 10px 0 rgba(2, 2, 2, 0.2);
            box-shadow: 0 3px 10px 0 rgba(2, 2, 2, 0.2);
    cursor: pointer; }
    @media (min-width: 1020px) {
      .content__carousel-item .content__carousel-link {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        -webkit-transform: scale3d(1, 0.22, 1);
                transform: scale3d(1, 0.22, 1);
        -webkit-transition: 0.7s ease-in-out;
        transition: 0.7s ease-in-out;
        z-index: 1; } }
    @media (min-width: 1420px) {
      .content__carousel-item:hover .content__carousel-link {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
        -webkit-transition: 0.7s ease-in-out;
        transition: 0.7s ease-in-out; } }
  .content .center .content__carousel-item {
    height: 450px; }
  .content__carousel-imgbox {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; }
    .content__carousel-imgbox img {
      position: absolute;
      left: 50%;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      pointer-events: none; }
  .content__carousel-text {
    position: absolute;
    bottom: 32px;
    left: 50%;
    font-family: 'titles', Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2; }
  .content__prepods-btn {
    text-decoration: none;
    color: inherit;
    height: 51px;
    margin: 0 auto;
    padding-left: 71px;
    padding-right: 71px;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25.5px;
    border: solid 2px #fe8057;
    font-family: 'titles', Arial, sans-serif;
    color: #fe8057;
    font-size: 18px;
    font-weight: 600; }
  @media (min-width: 1020px) {
    .content {
      padding-bottom: 130px;
      padding-left: 36px;
      padding-right: 36px; }
      .content__heading {
        padding-top: 111px;
        padding-bottom: 75px; }
      .content__title {
        font-size: 24px; }
      .content__prepods-carousel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .content__carousel-item {
        width: 32.2%;
        height: 450px; }
      .content__carousel-text {
        font-size: 20px; }
      .content__prepods-btn {
        margin-bottom: 100px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; } }
  @media (min-width: 1420px) {
    .content {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 198px; }
      .content__heading {
        padding-top: 120px;
        padding-bottom: 90px; }
      .content__title {
        font-size: 30px; }
      .content__prepods-btn {
        height: 60px;
        margin-bottom: 130px;
        padding-left: 119px;
        padding-right: 119px;
        font-size: 20px;
        border-radius: 30px; }
        .content__prepods-btn:hover {
          background-color: #fe8057;
          color: #25262a;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
      .content__carousel-text {
        bottom: 18px;
        font-size: 24px; } }

/*# sourceMappingURL=style.css.map */
