/*==============================
effects
==============================*/

.scrolling {
  animation: scrolling 1s infinite alternate;
}

@keyframes scrolling {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}
