/*==============================
menu-btn
==============================*/
.menu-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  @include trn;
  z-index: 51;
  @include md() {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%) translateX(-100%);
  }
  @include lg() {
    display: none;
  }

  &__box {
    width: 39px;
    height: 26px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  &__line {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &--top {
      top: 0;
    }

    &--bottom {
      top: 22px;
    }

    &--middle {
      width: 100%;
      top: 11px;
      left: auto;
      right: 0;
    }
  }

  &--open-js {
    .menu-btn__line--top {
      width: 100%;
      top: 6px;
      transform: rotate(135deg);
    }

    .menu-btn__line--bottom {
      width: 100%;
      top: 6px;
      transform: rotate(-135deg);
    }

    .menu-btn__line--middle {
      opacity: 0;
      right: -60px;
    }
  }
}
